AUTH_ENABLED=false
AGENTOPS_MCP_TOKEN=
API_HOST_PORT=8080
API_CONTAINER_PORT=8080
AGENTOPS_PUBLIC_BASE_URL=http://localhost:${API_HOST_PORT}
AGENTOPS_MCP_PUBLIC_URL=${AGENTOPS_PUBLIC_BASE_URL}/mcp
AGENTOPS_HOST_BRIDGE_PORT=17321
AGENTOPS_HOST_BRIDGE_URL=http://host.docker.internal:${AGENTOPS_HOST_BRIDGE_PORT}
FRONTEND_HOST_PORT=3000
FRONTEND_CONTAINER_PORT=3000
POSTGRES_HOST=localhost
POSTGRES_HOST_PORT=5432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_HOST_DATA_DIR=./.data/postgres
POSTGRES_CONTAINER_DATA_DIR=/var/lib/postgresql/data
POSTGRES_DBNAME=agentops
POSTGRES_USER=agentops
POSTGRES_PASSWORD=agentops
AGENTOPS_HOST_REPO_ROOT=/Users
